.root {
    -fx-min-width: 800px;
    -fx-min-height: 500px;
}

.text-field {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-pref-height: 40px;
    -fx-max-width: 300px;
}

.password-field {
    -fx-pref-height: 40px;
    -fx-pref-width: 300px;
}

.text-field-error {
    -fx-border-color: red;
}

.button {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 12px 36px;
    -fx-min-width: 120px;
    -fx-background-color: #ffffff;
    -fx-border-color: #888888;
}

.button:hover {
    -fx-background-color: #f0f0f0;
}