.root {
    -fx-min-width: 800px;
    -fx-min-height: 500px;
}

.text-field {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-pref-height: 40px;
    -fx-max-width: 300px;
}

.password-field {
    -fx-font-size: 10px;
    -fx-pref-height: 40px;
    -fx-pref-width: 300px;
}

.label {
    -fx-font-size: 25px;
}

.text-field-error {
    -fx-border-color: red;
}

.toast-label {
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.button {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 12px 36px;
    -fx-min-width: 120px;
    -fx-background-color: #ffffff;
    -fx-border-color: #888888;
}

.button:hover {
    -fx-background-color: #f0f0f0;
}